@import 'settings.responsive';
@import 'settings.variables';
@import 'components.content';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html, body {
  height: 100%;
}

//Grid Body layout
body{
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: 20% min-Content auto 20%;
	font-family: 'Lato', sans-serif
}

//Flex containers for subcomponents
//Parent flex containers define justify property
header{
	display: flex;
  grid-column-start: span 3;
  background-color: $red;
	justify-content: center;
}

nav{
		display: flex;
    grid-column: 1/4;
    background-color: $green;
}

aside{
	display: flex;
  grid-column: 1/2;
  background-color: $purple;
	justify-content: center;
}

main{
	display: flex;
  grid-column-start: span 2;
  background-color: $orange;
	justify-content: center;
}

footer{
	display: flex;
  grid-column-start: span 3;
  background-color: $blue;
	justify-content: center;
}

@include media-query(mobile) {
	body > aside {
		display: none;
	}

	body > main {
		display: flex;
		grid-column-start: span 3;
		background-color: $orange;
		justify-content: center;
	}

	.nav-card1{
	  //addtl formatting
	  a{
	    padding: 14px 3.5vw;
			font-size: 6vw;
	  }
	}
}

@include media-query(between) {

	body > main {
		display: flex;
		background-color: $orange;
		justify-content: center;
	}

	.nav-card1{
	  //addtl formatting
	  a{
	    padding: 14px 3.5vw;
			font-size:3.5vw;
	  }
	}
}

// @include media-query(ipad) {
//   body{
//     grid-template-rows: 15% min-Content 48% 15%;
//   }
// }
//
// @include media-query(ipad-pro) {
//   body{
//     grid-template-rows: 10% min-Content 38% 10%;
//   }
// }
//
// @include media-query(tab) {
//   body{
//     grid-template-rows: 20% min-Content auto 20%;
//   }
// }
