// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
//Assignment 2: modification to variables partial: Added 2 variables: 1)$dark-gray for the outer border of the card and 2)$tilted to change font to italic//
$dark-gray: #D3D3D3;
$tilted: italic;
